<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="outputs" type="GenTypes.ConfigurationSection, GenTypes" />
  </configSections>
  <connectionStrings>
    <add name="Test" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True;Database=Test" />
    <add name="KnownState" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True;Database=KnownState" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <outputs>
    <add Name="Test" MasterNamespace="Tables" OutputFile="Test.cs" LoggingLevel="Error" Language="CSharp" />
    <add Name="KnownState" MasterNamespace="Tables" OutputFile="Test.cs" LoggingLevel="Error" Language="CSharp" />
  </outputs>
</configuration>
