<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GenTypes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GenTypes.Properties.Settings.Test" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True;Database=Test" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <GenTypes.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Test</value>
            </setting>
            <setting name="OutputFile" serializeAs="String">
                <value>Test.cs</value>
            </setting>
            <setting name="LoggingLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MasterNamespace" serializeAs="String">
                <value>Types</value>
            </setting>
        </GenTypes.Properties.Settings>
    </userSettings>
</configuration>
