<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ parameter name="className" type="System.String"  #>
<#@ parameter name="functions" type="System.String"  #>
<#@ parameter name="classes" type="System.String" #>
	public static class <#=className #>
	{
		<# if(classes.Length > 0) { #><#=classes #>
		<# } #><#=functions.Trim() #>
	}
