<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="outputs" type="GenProc.ConfigurationSection, GenProc" />
  </configSections>
  <connectionStrings>
    <add name="Test" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True;Database=KnownState" />
    <add name="KnownState" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True;Database=KnownState" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <outputs>
    <add Name="Test" OutputDirectory="Output" MasterNamespace="Procedures" MiscClass="Misc" CollisionPrefix="C"
         Monolithic="true" OutputFile="Test.cs" LoggingLevel="Error" />
  </outputs>
</configuration>