<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GenProc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GenProc.Properties.Settings.Test" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True;Database=Test" />
        <add name="GenProc.Properties.Settings.Test2" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True;Database=Test2" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <GenProc.Properties.Settings>
            <setting name="OutputDirectory" serializeAs="String">
                <value>Output</value>
            </setting>
            <setting name="MasterNamespace" serializeAs="String">
                <value>Procedures</value>
            </setting>
            <setting name="MiscClass" serializeAs="String">
                <value>Misc</value>
            </setting>
            <setting name="CollisionPrefix" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="Monolithic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonolithicOutput" serializeAs="String">
                <value>Test.cs</value>
            </setting>
            <setting name="LoggingLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Test</value>
            </setting>
        </GenProc.Properties.Settings>
    </userSettings>
</configuration>